npm-debug.log
.idea/
*.sw[a-z]
tags
.svn/
.vagrant/
node_modules
public/libs/components/
build
*.pyc
*.DS_Store
specfile
coverage/
result.out
unit_test_results.xml
venv/
services/application/*.tgz
.vscode
Session.vim
cscope*
derived/
coverage.out
coverage.html
.orig
*.orig
.cache/
